{
  "printWidth": 100000000,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "semi": true
}
